{{- if and .Values.mtls.enabled (eq (include "access-gateway.accessMode" .) "mtls") }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "access-gateway.fullname" . }}-mtls-config
  labels:
    {{- include "access-gateway.labels" . | nindent 4 }}
data:
  envoy.yaml: |
    {{- include "access-gateway.envoyConfig" . | nindent 4 }}
{{- end }}
